@font-face{
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Regular.ttf');
}

@font-face{
    font-family: 'Proxima';
    src: url('../fonts/ProximaNova-Light.ttf');
    font-weight: 300;
}

*{
    user-select: none;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #eff3f6;
    margin: 0;    
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Proxima';
}

p, span{
    font-family: 'Proxima';
    color: #a4afbd;
}

b{
    color: #2c3846;
}


.panels{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.panel{
    padding-top: 30px;
}
.panel__title{
    color: #566577;
    margin-bottom: 30px;
    font-weight: 300;
}

.task{
    background-color: #fff;
    border-radius: 5px;
    padding: 24px 0 24px 36px;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 1px #e4e4e4;
    cursor: move;
}
.task::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 3px;
    height: calc(100% - 6px);
    background-color: red;
    display: block;
    border-radius: 5px;
}
/* Task color */
.task--red::after{
    background-color: #cc0000;
}
.task--blue::after{
    background-color: #0f72bd;
}
.task--green::after{
    background-color: #33cc00;
}
.task--orange::after{
    background-color: #ff6600;
}
/* End */

.task-list{
    min-height: 60px;
}
.task-list .task:last-child{
    margin-bottom: 0;
}


/* Draggable dots*/
.draggable__dots{
    display: flex;
    flex-wrap: wrap;
    width: 9px;
    position: absolute;
    top: 8px;
    left: 14px;
}

.draggable__dot{
    width: 3px;
    height: 3px;
    background-color: #c5ccd4;
    margin-right: 3px;
    margin-bottom: 3px;
    border-radius: 50%;
}
.draggable__dot:nth-last-child(2n){
    margin-right: 0;
}

/* End */

.task__inner{
    display: flex;
    align-items: center;
}

.task__info{
    flex: 3;
}
.task__date{
    flex: 3;
    border-left: 1px solid #c5ccd4;
    border-right: 1px solid #c5ccd4;
    height: 33px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.task__date > div .icon-img, .task__date > div .text{
    vertical-align: middle;
}
.task__date > div .icon-img{
    margin-right: 2px;
}

.task__date .duration{
    min-width: 110px;
}
.task__edit{
    flex: 1;
    display: flex;
    justify-content: center;
}

.task__title{
    color: #2c3846;
    font-size: 22px;
    margin-bottom: 2px;
}
.task__description{
    color: #7f8fa4;
    font-size: 20px;
}

.left-panel, .right-panel{
    width: 49%;
}

/* Right panel */
.right-panel{
    border: 1px solid #e4e4e4;
}

.time-list{
    list-style-type: none;
    padding: 0;
}

.time-list__row{
    display: flex;
    list-style-type: none;
    height: 57px;
}

.time-list__row:nth-child(odd){
    background-color: #f9fbfd;
}
.time-list__row:nth-child(even){
    background-color: #fff;
}
.time-line{
    flex: 1;
    background-color: #edf2f5;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.time-line span{
    transform: translateY(10px);
}
.time-list__col{
    flex: 5;
    padding: 0 10px;
    border: 1px solid #e6eaee;
}

/*Time list - display none elements*/
.time-list .task{
    padding: 3px 20px 3px 30px;
}
.time-list .task__inner{
    flex-direction: column;
    align-items: flex-end;
}
.time-list .task__title{
    font-size: 19px;
    margin-bottom: 0;
}
.time-list .task__description{
    display: none;
}
.time-list .task__date{
    border: none;
    height: auto;
    padding: 0;
}
.time-list .icon-img{
    display: none;
}
.time-list .task__date .duration{
    min-width: auto;
}
.time-list .day{
    padding-right: 10px;
    border-right: 1px solid #e6eaee;
    margin-right: 10px;
}
.time-list .crane{
    display: none;
}
.time-list .task__edit{
    display: none;
}

.footer-line{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0f72bd;
    height: 7px;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #fff;
}
 
::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 25px;
    border: 2px solid #fff;
}